body {
    background-color: whitesmoke;
    margin: 1px;
}


/* ---------- Header components ---------- */


.flex-header {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: ;

    outline: 1px black solid;
    background-color: #f8f7ff;
    margin: 1%;
    }

.flex-header > header-sub {

    margin: 0.5%;
    padding: 2%;
    background-color: #fcf6f6;
    width: 15%;

    outline: 1px black solid;
    border-radius: 5%;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: center;
}

header-sub:hover {
    background-color: orange;
    border-radius: 10%;
}

a {
    color: black;
    font-family: "Cabin Sketch", cursive

}


/* ---------- Form components ---------- */


.flex-form {

    display: flex;
    flex-direction: column;

    margin: 1%;
    padding: 2%;
    background-color: white;
    outline: 1px black solid;
}

input {
    margin-top: 1px;
    margin-bottom: 2%;
    color: black;
}

input:onfocus {
    color: black;
}


/* ---------- Text components ---------- */

.text-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-box {
    display: flex;
    flex-direction: column;

    background-color: #ffebf8;
    margin: 1%;
    padding: 2%;
    outline: 1px solid black;
}

.text-box > h1 {
    font-family: -apple-system;
    margin: 1%;
    padding: 1%;
}

.text-box > p {
    font-family: "Cambria Math"
}


/* ---------- result components ---------- */

.segmenten {
    display: flex;
    flex-direction: column;
    float: right;
    margin: 1%;
    border: 1px solid black;
    padding: 3%;

    background-color: #fff9fc;
}


.graph-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.images {
    display: flex;
    flex-direction: column;
    margin: 1%;

}

img {
    margin: 2%;
    border: 1px solid black;
}

td{
    margin: 2px;
}
