body {
    background-color: #9ca3af;
}

/* ---------- Header components ---------- */

ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    width: 33.33%;
}

li a {
    transition-duration: 0.4s;
    display: block;
    padding: 8%;
    background-color: #5c6370;
    cursor: pointer;
    text-align: center;
    border-radius: 1%;
}

li a:hover {
    background-color: orange;
    border-radius: 10%;
}

/* ---------- Form components ---------- */

form {
    position: relative;
    display: block;
    margin-left: 33%;
    top: 50%;
}

input {
    margin-bottom: 2%;
    color: grey;
}

input:onfocus {
    color: black;
}

/* ---------- text ---------- */

h1 {
    margin-left: 3%;
    font-family: "Arial Narrow";
}

h2 {
    margin-left: 3%;
    font-family: "Arial Narrow";
}

p {
    margin-left:  5%;
    margin-right: 5%;
    font-family: "Arial Narrow";
}

/* ---------- Divs ---------- */

.form {
    height: 50%;
}