<doctype html>
<html>
    <head>
        <link rel="stylesheet" href={{url_for('static', filename="style.css")}}>
        <title>howto</title>
    </head>

    <body>
        <div class="flex-header">
            <header-sub><a href="{{url_for('use')}}">USE</a></header-sub>
            <header-sub><a href="{{url_for('how_to')}}">HOW TO</a></header-sub>
            <header-sub><a href="{{url_for('about')}}">ABOUT</a></header-sub>
        </div>


        <div class="text-body">

            <div class="text-box">
                <h2>Bestand</h2>
                <p> Er kan een .mp3 of .wav bestand geupload worden. Grotere bestanden kunnen een tijd duren om te uploaden en te analyseren
                </p>
            </div>

            <div class="text-box">
                <h2>Week</h2>
                <p> Dit is de week van het jaar dat de opname is genomen.
                Welke vogels er in deze tijd van het jaar verwacht worden helpt met de voorspelling.
                Vul hier 0-48 in, 4 weken per maand.
                </p>
            </div>

            <div class="text-box">
                <h2> Lengte- en breedtegraad</h2>
                <p> Lengte- breedtegraad geeft de lokatie van de opname. Dit kan -180 t/m 180 zijn.</p>
            </div>

            <div class="text-box">
                <h2> Gevoeligheid </h2>
                <p> Hogere of lagere gevoeligheid voor detectie, lagere gevoeligheid geeft vaker een lagere zekerheid.
                    Waardes van 0,75-1,25
                </p>
            </div>

            <div class="text-box">
                <h2> Zekerheid </h2>
                <p> Geeft aan hoe zeker het model moet zijn om een meting mee te nemen in de resultaten, voorkomt valse matches door hoger in te stellen.
                    Kan bij hogere minimale zekerheid ook voorkomen dat zeldzaamheden worden gedetecteerd. voer 0-1 in
                </p>
            </div>
        </div>
    </body>
</html>
